
# website settings
website:
  title: "Minkun Kim"                               
  description: "Work Work Work"   # A brief slogan (optional)
  image: "img/IMG_0800.jpg"
  favicon: img/favicon.png
  
  # start of the navigation bar at the top of the website
  navbar:
    pinned: true
    logo: /img/logo.png
    
    # your sub-pages
    left:
      - text: "Research"
        href: research/index.qmd
      - text: "Finance+Math Blog"
        href: whiteboard01/index.qmd
      - text: "Data-Eng Blog"
        href: whiteboard02/index.qmd
      - text: "Energy Blog"
        href: whiteboard03/index.qmd
      - text: "Design"
        href: whiteboard04/index.qmd
      - text: "CV"
        href: cv/index.qmd
    
    # your social media handles
    right:
      - icon: mortarboard
        href: https://scholar.google.com/citations?user=TjHqLIAAAAAJ&hl=en
      - icon: envelope
        href: "mailto:kimmk0810@gmail.com"  
  

# Don't touch unless you know what you are doing :) ------------
  search: 
    location: navbar
    type: textbox
  page-footer: 
    left: |
      <span class="faux-block">&#169; 2025 Minkun Kim</span>
    





project:
  type: website
  output-dir: docs

  preview: 
    port: 22222
    browser: true
    watch-inputs: true
    navigate: true

execute:
  freeze: false

format:
  html:
    fontsize: 1.1em
    theme: 
      - pulse
      - html/styles.scss
    toc: false
    code-link: true
    anchor-sections: true
    fig-cap-location: margin
    reference-location: margin
    footnotes-hover: true